@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

:root {
  --secondary-text: #aaa;
  --light-dark-bg: #202020;
  --dark-bg: #181818;
  --darker-bg-color: rgb(18 18 18);
  --search-border-color: hsl(0, 0%, 18.8%);
  --search-bg-color: hsl(0, 0%, 100%, 0.08);
  --white-text: rgb(252, 252, 252);
  --black-text: #030303;
  --light-border-10: rgba(255 255 255 / 0.1);
  --light-btn-bg: rgba(255 255 255 / 0.1);
  --light-hover-btn-bg: rgba(255 255 255 / 0.2);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-text);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  --light-hover-btn-bg: rgba(255 255 255 / 0.3);
  background: var(--light-hover-btn-bg);
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.svg-wrapper,
.filled-svg-wrapper {
  height: 24px;
  width: 24px;
}

.svg-wrapper path {
  fill: var(--white-text);
}

button svg .yt-icon {
  fill: #fff;
}

.page-header {
  background-color: var(--light-dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2022;
}

.page-nav .container {
  padding: 0 1rem;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.page-nav .nav-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left.nav-sub-container .btn-wrapper {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.page-nav .logo-container {
  width: 123px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav .logo-container a {
  padding: 18px 14px 18px 16px;
}

.page-nav .logo-container svg > g > g:last-child path {
  fill: #fff;
}

.page-nav .logo-container .country-code {
  margin-top: 12px;
  margin-left: -10px;
  color: var(--secondary-text);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  font-size: 10px;
}

.nav-center {
  gap: 0.5rem;
  flex: 0 1 726px;
  min-width: 0px;
}

.nav-center form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 40px;
}

.nav-center .input-wrapper {
  margin-left: 40px;
  background-color: var(--darker-bg-color);
  border-radius: 40px 0px 0px 40px;
  width: calc(100% - (0.5rem + 24px + 40px + 32px + 8px));
}

.nav-center .input-wrapper input {
  background-color: transparent;
  border: 1px solid var(--search-border-color);
  width: 100%;
  border-radius: 40px 0px 0px 40px;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  color: hsl(0, 100%, 100%, 0.88);
}

.nav-center .input-wrapper input:focus {
  outline: 1px solid rgb(0, 107, 230);
}

.nav-center .search-btn {
  width: 64px;
  height: 40px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--search-border-color);
  background-color: var(--search-bg-color);
}

.nav-center .search-btn svg {
  width: 24px;
  height: 24px;
}

.nav-center .speech-to-text {
  border-radius: 100%;
  background-color: var(--darker-bg-color);
  padding: 0.5rem;
}

.nav-right > div:not(:last-child) {
  margin-right: 0.5rem;
  width: 40px;
}

.profile-container .btn-wrapper {
  padding: 0 6px;
}

.profile-container button {
  width: 32px;
  height: 32px;
  margin: 0 0.5rem;
}

.profile-container button img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.page-sidebar,
.mob-sidebar {
  display: block;
  position: fixed;
  width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--light-dark-bg);
  z-index: 2020;
}

.mob-sidebar {
  width: fit-content;
  background-color: var(--light-dark-bg);
  display: none;
}

.mob-main-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 14px;
  gap: 6px;
  color: var(--white-text);
  font-size: 10px;
  width: 4.5rem;
}

.mob-main-links a:hover {
  background-color: var(--light-btn-bg);
}

.sidebar-spacer {
  margin-top: 56px;
}

.sidebar-content {
  padding-top: 12px;
  max-height: calc(100vh - (56px + 12px));
  overflow-y: scroll;
}

.sidebar-content a,
.sidebar-content button {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}

.sidebar-content .img-wrapper {
  width: 24px;
  height: 24px;
}

.sidebar-content .svg-wrapper path {
  fill: var(--white-text);
}

.sidebar-content .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sidebar-content a:hover,
.sidebar-content button:hover {
  background-color: var(--light-btn-bg);
}

.sidebar-content .main-links {
  padding-bottom: 12px;
}

.sidebar-content .main-links li {
  display: inline-block;
  width: 100%;
}

.sidebar-content .main-links li:first-child a {
  font-weight: 500;
  background-color: var(--light-btn-bg);
}

.sidebar-content .main-links li:first-child a:hover {
  background-color: rgba(255 255 255 / 0.2);
}

.sidebar-content .secondary-links {
  border-top: 1px solid var(--light-border-10);
  padding: 12px 0;
}

.sidebar-content .extra-links {
  border-top: 1px solid var(--light-border-10);
  padding: 8px 0;
}

.sidebar-content .btn-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-content .sidebar-footer {
  border-top: 1px solid var(--light-border-10);
}

.sidebar-content .sidebar-footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
  padding: 1rem 1.5rem 0rem;
}

.sidebar-footer a {
  padding: 0;
  font-size: 0.8rem;
  color: var(--secondary-text);
  font-weight: 500;
  min-height: fit-content;
}
.sidebar-footer a:hover {
  background-color: transparent;
}

.sidebar-content .extra-links h3 {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
}

.sidebar-content .copyright-section {
  padding: 1rem 1.5rem;
  color: #717171;
  font-size: 12px;
}

.sidebar-content::-webkit-scrollbar {
  width: 0px;
}

.sidebar-content:hover::-webkit-scrollbar {
  width: 9px;
}

.sidebar-content::-webkit-scrollbar-track {
  border-radius: 12px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.browse-section {
  background-color: var(--dark-bg);
  margin: 56px 0 0 240px;
  max-width: calc(100vw - 240px);
  min-height: calc(100vh - 56px);
}

/******** BROWSE HEADER *******/

.browse-header {
  background-color: var(--light-dark-bg);
  border-top: 1px solid var(--light-border-10);
  border-bottom: 1px solid var(--light-border-10);
  z-index: 2021;
  /* position: fixed;
  top: calc(56px); */
}

.browse-header .container {
  position: relative;
}

.browse-header .container .next-btn-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}

.browse-header .container .next-btn-wrapper .container {
  background: var(--light-dark-bg);
}

.browse-header .container .next-btn-wrapper::before {
  content: "";
  height: 100%;
  width: 50px;
  background: linear-gradient(
    to left,
    rgba(33, 33, 33, 0.98) 20%,
    rgba(33, 33, 33, 0.2) 80%
  );
  pointer-events: none;
}

.browse-header .container .next-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 0.75rem;
}

.browse-header .chips-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.browse-header .single-chip {
  padding: 6px 0.75rem;
  color: var(--white-text);
  border: 1px solid var(--light-border-10);
  background-color: var(--light-btn-bg);
  border-radius: 1rem;
  font-size: 14px;
  margin: 0.75rem;
  margin-left: 0;
  transition: background-color 125ms ease;
  white-space: nowrap;
}

.browse-header .single-chip:not(:first-child):hover {
  background-color: var(--light-hover-btn-bg);
}

.browse-header .single-chip:first-child {
  color: var(--black-text);
  background-color: var(--white-text);
  margin-left: 1.5rem;
}

/****** BROWSE SECTION ******/

.top-browse-content {
  margin-top: 1.5rem;
}

.browse-content .grid-items {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: calc(1.5rem + 5rem); */
}

.browse-content > .container {
  padding: 0 1rem;
  max-width: 2300px;
  margin: auto;
}

.browse-content img {
  width: 100%;
}

.browse-content .single-grid-item {
  padding: 0px 0.5rem 0;
  color: var(--secondary-text);
  margin-bottom: 40px;
  flex: 1 1 250px;
  width: 25%;
  max-width: 320px;
  min-width: 250px;
}

.browse-content .single-grid-item > .img-wrapper {
  position: relative;
  /* outline: 1px solid white; */
}

.browse-content .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* outline: 1px solid white; */
}

.browse-content .single-grid-item .time-length,
.browse-content .single-grid-item .keep-hovering {
  background-color: #000;
  padding: 3px 4px;
  color: var(--white-text);
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  right: 4px;
  bottom: 8px;
  z-index: 10;
  border-radius: 2px;
}

.browse-content .single-grid-item .keep-hovering {
  display: none;
  font-weight: 400;
  padding: 6px;
  border-radius: 4px;
}

.browse-content .single-grid-item > .img-wrapper:hover .keep-hovering {
  display: inline-block;
}

.browse-content .single-grid-item .user-img-wrapper {
  width: 42px;
  height: 42px;
}

.browse-content .single-grid-item .item-title {
  display: flex;
}

.browse-content .single-grid-item .item-title > a {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: var(--white-text);
  font-weight: 500;
}

.browse-content .single-grid-item .content {
  display: flex;
  width: 100%;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.browse-content .single-grid-item .details {
  width: 100%;
}

.single-grid-item .playlist-detail {
  font-size: 0.75rem;
}

.browse-content .user-img-wrapper img {
  border-radius: 50%;
}

.single-grid-item .user-handle {
  margin-bottom: 3px;
}

.single-grid-item .user-handle a,
.single-grid-item .stats {
  font-size: 14px;
  color: inherit;
}

.single-grid-item .stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.single-grid-item .stats .dot {
  width: 3px;
  height: 3px;
  background-color: var(--secondary-text);
  border-radius: 50%;
}

.single-grid-item .hover-effect {
  position: absolute;
  z-index: 11;
  inset: 0;
  bottom: 4px;
  top: 0;
  background: rgba(0 0 0 / 0.8);
  display: grid;
  place-content: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.single-grid-item:hover .hover-effect {
  visibility: visible;
  opacity: 1;
}

.single-grid-item .hover-effect .container {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--white-text);
  font-weight: 500;
}

.single-grid-item .svg-wrapper {
  width: 24px;
  height: 24px;
}

.single-grid-item .bottom-overlay {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  background-color: rgba(89, 65, 62, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
}

.single-grid-item .bottom-overlay .svg-wrapper {
  display: flex;
  justify-content: center;
}

.single-grid-item .svg-wrapper path {
  fill: var(--white-text);
}

/******** SHORTS SECTION *******/

.shorts-section {
  display: flex;
  justify-content: center;
}

.shorts-section .container {
  width: fit-content;
  margin: 0 1.5rem;
  border-top: 4px solid var(--search-border-color);
  border-bottom: 4px solid var(--search-border-color);
}

.shorts-section .section-title {
  margin: 1.5rem 0 1.5rem 0;
  padding-left: 0.5rem;
  color: var(--white-text);
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.shorts-section .section-title .left {
  display: flex;
  font-size: inherit;
  font-weight: inherit;
  align-items: center;
  gap: 0.5rem;
  line-height: 18px;
}

/* .shorts-section .grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
} */

.shorts-section .grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.shorts-section .single-item {
  flex: 1 1 120px;
  max-width: 240px;
  min-width: 150px;
  margin-bottom: 1.25rem;
}

.shorts-section .single-item .content {
  padding-top: 0.5rem;
}

.shorts-section .single-item a {
  --max-lines: 2;
  color: var(--white-text);
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.shorts-section .single-item img {
  width: 100%;
}

.shorts-section .single-item .short-title,
.browse-content .single-grid-item .item-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shorts-section .single-item .options-btn,
.browse-content .single-grid-item .options-btn {
  opacity: 0;
  visibility: hidden;
}

.shorts-section .single-item:hover .options-btn,
.browse-content .single-grid-item:hover .options-btn {
  opacity: 1;
  visibility: visible;
}

.shorts-section .single-item .views {
  color: var(--secondary-text);
  font-size: 14px;
  margin-top: 4px;
}

.shorts-section .see-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.shorts-section .see-more-btn:hover {
  background-color: var(--light-btn-bg);
}

.browse-content.after-shorts {
  margin-top: 2.5rem;
}

@media screen and (min-width: 1521px) {
  .browse-content .single-grid-item {
    flex: 1 1 300px;
    max-width: 380px;
    min-width: 300px;
  }
}

@media screen and (min-width: 1768px) {
  .browse-content .single-grid-item {
    flex: 1 1 330px;
    max-width: 380px;
    min-width: 330px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1921px) {
  .shorts-section .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1300px) {
  .page-sidebar {
    display: none;
  }

  .mob-sidebar {
    display: block;
  }

  .browse-section {
    max-width: calc(100vw - 72px);
    margin-left: 72px;
  }
}
