@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

:root {
  --secondary-text: #aaa;
  --light-dark-bg: #202020;
  --dark-bg: #181818;
  --darker-bg-color: rgb(18 18 18);
  --search-border-color: hsl(0, 0%, 18.8%);
  --search-bg-color: hsl(0, 0%, 100%, 0.08);
  --white-text: #fff;
  --light-border-10: rgba(255 255 255 / 0.1);
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg .yt-icon {
  fill: #fff;
}

.page-header {
  background-color: var(--light-dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2022;
}

.page-nav .container {
  padding: 0 1rem;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.page-nav .nav-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left.nav-sub-container .btn-wrapper {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.page-nav .logo-container {
  width: 129px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav .logo-container a {
  padding: 18px 14px 18px 16px;
}

.page-nav .logo-container svg > g > g:last-child path {
  fill: #fff;
}

.page-nav .logo-container .country-code {
  margin-top: 12px;
  margin-left: -10px;
  color: var(--secondary-text);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  font-size: 10px;
}

.nav-center {
  gap: 0.5rem;
  flex: 0 1 726px;
  min-width: 0px;
}

.nav-center form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 40px;
}

.nav-center .input-wrapper {
  margin-left: 40px;
  background-color: var(--darker-bg-color);
  border-radius: 40px 0px 0px 40px;
  width: calc(100% - (0.5rem + 24px + 40px + 32px + 8px));
}

.nav-center .input-wrapper input {
  background-color: transparent;
  border: 1px solid var(--search-border-color);
  width: 100%;
  border-radius: 40px 0px 0px 40px;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  color: hsl(0, 100%, 100%, 0.88);
}

.nav-center .input-wrapper input:focus {
  outline: 1px solid rgb(0, 107, 230);
}

.nav-center .search-btn {
  width: 64px;
  height: 40px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--search-border-color);
  background-color: var(--search-bg-color);
}

.nav-center .search-btn svg {
  width: 24px;
  height: 24px;
}

.nav-center .speech-to-text {
  border-radius: 100%;
  background-color: var(--darker-bg-color);
  padding: 0.5rem;
}

.nav-right > div:not(:last-child) {
  margin-right: 0.5rem;
  width: 40px;
}

.profile-container .btn-wrapper {
  padding: 0 6px;
}

.profile-container button {
  width: 32px;
  height: 32px;
  margin: 0 0.5rem;
}

.profile-container button img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.page-sidebar {
  position: absolute;
  width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--light-dark-bg);
  z-index: 1000;
}

.sidebar-spacer {
  margin-top: 56px;
}

.sidebar-content {
  padding-top: 12px;
  /* overflow-y: scroll; */
}

.sidebar-content a,
.sidebar-content button {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}

.sidebar-content .svg-wrapper {
  width: 24px;
  height: 24px;
}

.sidebar-content .svg-wrapper path {
  fill: var(--white-text);
}

.sidebar-content a:hover,
.sidebar-content button:hover {
  background-color: rgba(255 255 255 / 0.1);
}

.sidebar-content .main-links {
  padding-bottom: 12px;
}

.sidebar-content .main-links li {
  display: inline-block;
  width: 100%;
}

.sidebar-content .main-links li:first-child a {
  font-weight: 500;
  background-color: rgba(255 255 255 / 0.1);
}

.sidebar-content .main-links li:first-child a:hover {
  background-color: rgba(255 255 255 / 0.2);
}

.sidebar-content .secondary-links {
  border-top: 1px solid var(--light-border-10);
  padding: 12px 0;
}

.sidebar-content .btn-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.browse-section {
  background-color: var(--dark-bg);
  width: 100vw;
  height: 100vh;
}
